body
{
  font-family: sans-serif;
  align-items: center;
	background-color: #9B533F;
	margin: 0;
}

.navbar {
  width: 100%;
  text-decoration-color: white;
  background-color: #A13D2D;
  overflow: hidden;
  margin: 0;
}

.background {
  background-color: #A13D2D;
}
